<a href="https://colab.research.google.com/github/Matonice/Data-Analysis/blob/main/Ecommerce_purchase_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[link to the dataset](https://www.kaggle.com/datasets/utkarsharya/ecommerce-purchases)

In [ ]:
import pandas as pd

df = pd.read_csv("/content/Ecommerce Purchases")

In [ ]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

## Highest and Lowest Purchase Prices

In [ ]:
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [ ]:
df["Purchase Price"].describe()

count    10000.000000
mean        50.347302
std         29.015836
min          0.000000
25%         25.150000
50%         50.505000
75%         75.770000
max         99.990000
Name: Purchase Price, dtype: float64

## Average Purchase Price

In [ ]:
df['Purchase Price'].mean()

np.float64(50.347302)

## How Many People Have French 'fr' as Their Language?

In [ ]:
sum(df['Language'] == 'fr')

1097

## Job Title Contains Engineer

In [ ]:
len(df[df['Job'].str.contains("Engineer", case=False)])

984

## Find Email of the Person with the following IP address: 132.207.160.22

In [ ]:
df[df['IP Address'] == "132.207.160.22"]['Email']

2    amymiller@morales-harrison.com
Name: Email, dtype: object

## How many people have mastercard as their credit card provider and made a purchase above 50?

In [ ]:
len(df[(df['CC Provider'] == "Mastercard") & (df['Purchase Price'] > 50)])

405

## Find the email of the person with the following credi card number: 4664825258997302

In [ ]:
df[df['Credit Card'] == 4664825258997302]['Email']

9992    bberry@wright.net
Name: Email, dtype: object

## How many people purchase during the AM and how may people purchase during the PM?

In [ ]:
len(df[df['AM or PM'] == 'AM'])

4932

In [ ]:
sum(df['AM or PM'] == 'PM')

5068

## How many people have a credit card that expires in 2020?

In [ ]:
df['Exp Year'] = df['CC Exp Date'].apply(lambda x: x.split('/')[1])
sum(df['Exp Year'] == '20')

988

## Top 5 most popular email providers (e.g gmail.com, yahoo.com, etc...)

In [ ]:
df["provider"] = df['Email'].apply(lambda x: x.split("@")[1])
df['provider'].value_counts().head()

provider
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64